*.swp
*.pyc
.env/*
env/
.vscode/
.ipynb_checkpoints/
cs231n/datasets/cifar-10-batches-py/
cs231n/datasets/cifar-10-batches-py/*
cs231n/datasets/tiny-imagenet-100-A*
cs231n/datasets/tiny-imagenet-100-B*
cs231n/datasets/tiny-100-A-pretrained/*
